:root{
  /*BG Colors*/
  --darkest: #0B2027;
  --darker: #40798C;
  --dark: 	#70A9A1;
  --lighter: #CFD7C7;
  --lightest:	#F6F1D1;
  /*Font Colors*/
  --offwhite: #f0f4f8;
}


body{
  background-color: var(--darkest);
  color: var(--offwhite);
  padding: 1vh;
  font-family: 'Open Sans', sans-serif;
  overflow-y: hidden;
  font-size: 18px;
}

button {
  background-color: var(--darkest);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--darkest);
}

button:hover{
  cursor: pointer;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

form {
  display: flex;
  flex-direction: column;
  grid-template-columns: max-content; /* Two columns */
  gap: 10px; /* Adjust gap between columns */
  width: 100%;
}

form img{
  width: 70px;
  height: 70px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form textarea{
  flex: 1; /* Flexible width for input to fill remaining space */
  padding: 8px; /* Adjust padding inside the input */
  background-color: var(--darkest);
  color: var(--offwhite);
  border: 1px solid #ccc; /* Example border styling */
  border-radius: 4px; /* Example border radius */
}

form input[type="checkbox"]{
  padding: 8px;
  background-color: var(--darkest);
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  /* For iOS < 15 */
  margin: 0;
  font: inherit;
  color: white;
  width: 0.15em;
  height: 0.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}


input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

form label {
  flex: 0 0 auto; /* Non-flexible width for label */
  width: 150px; /* Adjust width of label as needed */
  text-align: right; /* Align labels to the right */
  padding-right: 10px; /* Add padding to separate label from input */
}

.form-row {
  display: inline-flex;
  align-items: center;
}

h1{
  color: var(--lightest);
  font-weight: 900;
}



.card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-content{
  border-radius: 20px;
  background-color: var(--darker);
  border-color: var(--dark);
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 45px;
}

.card-content img {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}


.hidden{
  display: none;
}

.logo{
  width: 50%;
  height: 50%;
  border-radius: 100%;
}
